<p>calculator works!</p>
 <input type="number" value="a" placeholder="Enter first no" [(ngModel)]="a">
 <input type="number" value="b" placeholder="Enter second no" [(ngModel)]="b">
 <button (click)="add()">add</button>
 Result:{{result}}
 <br>
 <button (click)="difference()">difference</button>
 <br>
 <br>
 <!-- User:{{user|json}} -->
 <!-- ans:{{users|json}}  -->
 <!-- <input type="number" placeholder="enter userId of your choice" [(ngModel)]="userId">

 <button (click)="getUserById()">load user</button>
 User:{{user|json}}
  -->
  <input type="number"  placeholder="enter employee id" [(ngModel)]="empId">
<button (click)="getEmpById()">register id</button>
Employee:{{employee|json}}

  

 
 


